Repository OPA-CTO/OPA-TaxEngine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cto, @cfo, @cpo

Create README_CTO.md
  docs/README_CTO.md
Owners: @cto, @cfo

Create Tests_Validation_Checklist.md
  docs/Tests_Validation_Checklist.md
Owners: @cto, @cfo

Create Data_Dictionary.md
  docs/Data_Dictionary.md
Owners: @cto, @cfo

Create Parameters.json
  config/Parameters.json
Owners: @cto

Create Column_Map.csv
  config/Column_Map.csv
Owners: @cto

Create .keep
  exports/.keep
Owners: none

Create Taxability_Map.pqm
  powerquery/Taxability_Map.pqm
Owners: @cto, @cfo, @cpo

Point Taxability Map to imports folder workbook
  powerquery/Taxability_Map.pqm
Owners: @cto, @cfo, @cpo

Expand README with Q4 development details
  README.md
Owners: none

ci: add pipeline+tests CI, pipeline engine, runner, sample data and setup checks
  .github/workflows/ci-pipeline.yml
  .github/workflows/setup-check.yml
  Makefile
  README.md
  docs/DEV_SETUP.md
  pipeline/__init__.py
  pipeline/core.py
  pipeline/engine.py
  requirements.txt
  tests/data/sample_jurisdiction_rates.csv
  tests/data/sample_machine_map.csv
  tests/data/sample_orders.csv
  tests/data/sample_tax_class.csv
  tests/test_setup_check.py
  tools/run_pipeline.py
  tools/setup_check.py
Owners: @cto, @cfo

feat: add sales tax data exports and sample test data
  README.md
  config/Parameters.json
  exports_tmp/OPA_SalesTax_Fact.csv
  exports_tmp/OPA_SalesTax_Summary.csv
  pipeline/engine.py
  references/OPA_Tax_TestData_Sample.xlsx
  tools/run_pipeline.py
Owners: @cto, @cfo

chore: move sample workbook to tests/fixtures and ignore exports
  tests/fixtures/OPA_Tax_TestData_Sample.xlsx
Owners: none

chore: ignore exports artifacts
  .gitignore
  exports_tmp/OPA_SalesTax_Fact.csv
  exports_tmp/OPA_SalesTax_Summary.csv
Owners: none

Add cloud automation section to README
  README.md
Owners: none

.github/CODEOWNERS:

/powerquery/*   @cto  @cfo  @cpo
/references/*   @cfo
/config/*       @cto
/docs/*         @cto  @cfo
